@charset "UTF-8";
/*CSS Doc*/

.hidden {
	display: none;
}

body {
	background-color: #9263E5;
}

h1 {
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 4em;
	font-weight: bold;
	text-shadow:
	/*trbl*/
	-2px -2px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    4px 4px 0 #fff;
	color: #9263E5;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin: 20px;
    text-shadow:
	/*trbl*/
	-2px -2px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    2px 2px 0 #fff;
	color: #9263E5;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	color: #311259;
}

img, a {
	cursor: pointer;
}

/* === ARROWS === */

.arrowDown {
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 80vh;
	transition: all .3s ease;
	border: solid #fff;
	border-width: 0 15px 15px 0;
	border-radius: 4px;
	display: inline-block;
	padding: 15px;
	animation: float .5s ease-in-out infinite alternate;
}

@-webkit-keyframes float {
        0% { 
        	top: 80vh;
        }
        100% {
        	top: 81vh;
        }
    }

#container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: auto;
	height: 100vh;
	background-color: #9263E5;
}

#headerCon {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#headerCon p {

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 40px auto;
	width: 60%;
}

#gameArea {
	display: flex;
	flex-direction: column;
}

#gameCon {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	margin-bottom: 40px;
}

#beats ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
	height: 80%;
	background-color: #00E0BB;
	border-radius: 30px;
}
.songBtn {
	cursor: pointer;
	padding: 25px;
	background-color: #28BFBB;
	border-radius: 50px;
	font-family: 'ZCOOL KuaiLe', cursive;
	font-weight: bold;
	box-shadow: 
	0.5px 0.5px 0 #0E666C,
    0px 0px 0 #0E666C,
    0px 1px 0 #0E666C,
    2px 5px 0 #0E666C;
    color: #0E666C;
}

.songBtn:active {
	box-shadow: 
	0px 0px 0 #fff,
    0px 0px 0 #fff,
    0px 0px 0 #fff,
    0px 0px 0 #fff;
    -webkit-transform: translate(2px, 5px);
	-ms-transform: translate(2px, 5px);
	transform: translate(2px, 5px);

}

#enviroSoundsCon {
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

#enviroCon {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 150vh;
	height: 77vh;
}

#enviro {
	background-color: #9263E5;
	display: flex;
	flex: 1;
	border: 1px #fff solid;
	border-radius: 30px;
	transition: all .5s ease-in-out;
	overflow: hidden;
	padding: 0px 20px;
}

/* this will turn into the drag overlay (will have blur + text) */

.enviroOverlay {
	display: none;
}

.overlay {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	border-radius: 30px;
	background-color: #7149AD;
	border: 1px #fff solid;
}

.overlayText {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#controls {
	position: absolute;
	display: flex;
	flex-shrink: 0;
	align-self: center;
	/* IMPORTANT! Positions Buttons over dropZones so you can interact with them*/
	z-index: 2;
	background-color: #00E0BB;
	padding: 10px 20px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.controlsBtn {
	/* icons are different sizes, prevents flex from growing with pause and play*/
	cursor: pointer;
	font-size: 1.5em;
	padding: 20px;
	background-color: #28BFBB;
	border-radius: 50px;
	box-shadow: 
	0.5px 0.5px 0 #0E666C,
    0px 0px 0 #0E666C,
    0px 1px 0 #0E666C,
    2px 5px 0 #0E666C;
    color: #0E666C;
    margin: 10px;
}

.controlsBtn:active {
	box-shadow: 
	0px 0px 0 #fff,
    0px 0px 0 #fff,
    0px 0px 0 #fff,
    0px 0px 0 #fff;
    -webkit-transform: translate(2px, 5px);
	-ms-transform: translate(2px, 5px);
	transform: translate(2px, 5px);

}

.dropZone { 
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0px 10px;
/*	border: #fff 1px dashed;*/
	flex: 1 1 0;
	/* IMPORTANT! Makes sure zones are above overlay so drag and drop function works*/
	z-index: 1;
}

.dropZone img {
	width: auto;
	max-height: 100%;
}

#sounds {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 40px;
	padding: 20px;
	background-color: #00E0BB;
	border-radius: 30px;
}

#sounds img {
	width: auto;
	height: 50px;
/*	flex: 1;*/
}