@charset "UTF-8";
/*CSS Doc*/

.hidden {
	display: none !important;
}

.show {
	display: block;
}

body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a270ff+0,9263e5+47,7149ad+85,7149ad+85,7149ad+100 */
background: #a270ff; /* Old browsers */
background: -moz-linear-gradient(-60deg, #a270ff 0%, #9263e5 47%, #7149ad 85%, #7149ad 85%, #7149ad 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-60deg, #a270ff 0%,#9263e5 47%,#7149ad 85%,#7149ad 85%,#7149ad 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(150deg, #a270ff 0%,#9263e5 47%,#7149ad 85%,#7149ad 85%,#7149ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a270ff', endColorstr='#7149ad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*h1 {
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 4em;
	font-weight: bold;
	text-shadow:*/
	/*trbl*/
/*	-2px -2px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    4px 4px 0 #fff;
	color: #9263E5;
}*/

/*h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin: 20px;
    text-shadow:*/
	/*trbl*/
/*	-2px -2px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    2px 2px 0 #fff;
	color: #9263E5;
}*/

h3 {
	font-family: 'ZCOOL KuaiLe', cursive;
	font-size: 4em;
	font-weight: bold;
	text-shadow:
	/*trbl*/
	-2px -2px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    4px 4px 0 #fff;
	color: #9263E5;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	color: #311259;
}

img, a {
	cursor: pointer;
}

/* === ARROWS === */

.arrowDown {
	position: absolute;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 80vh;
	transition: all .3s ease;
	border: solid #fff;
	border-width: 0 15px 15px 0;
	border-radius: 4px;
	display: inline-block;
	padding: 15px;
	animation: float .5s ease-in-out infinite alternate;
}

@-webkit-keyframes float {
        0% { 
        	top: 80vh;
        }
        100% {
        	top: 81vh;
        }
    }

#container {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: auto;
	height: 100vh;
	background-color: #9263E5;
}

#headerCon {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#headerCon p {

	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	margin: 40px auto;
	width: 60%;
}

#gameArea {
	display: flex;
	flex-direction: column;
}

#gameCon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

#beats ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
	height: 80%;
	background-color: #00E0BB;
	border-radius: 30px;
	animation: left-in 1s 1;
}

@-webkit-keyframes left-in {
	0% {
		opacity: 0;
		transform: translateX(-120%);
	}
	1% {
		opacity: 1;
	}
	80% {
		transform: translateX(6%);
	}
	90%{
		transform: translateX(4%);
	}
	100% {
		transform: translateX(0%);
	}
}

.songBtn {
	cursor: pointer;
	padding: 25px;
	background-color: #28BFBB;
	border-radius: 50px;
	font-family: 'ZCOOL KuaiLe', cursive;
	font-weight: bold;
	box-shadow: 
	0.5px 0.5px 0 #0E666C,
    0px 0px 0 #0E666C,
    0px 1px 0 #0E666C,
    2px 5px 0 #0E666C;
    color: #0E666C;
}

.songBtn:active {
	box-shadow: 
	0px 0px 0 #fff,
    0px 0px 0 #fff,
    0px 0px 0 #fff,
    0px 0px 0 #fff;
    -webkit-transform: translate(2px, 5px);
	-ms-transform: translate(2px, 5px);
	transform: translate(2px, 5px);

}

#enviroSoundsCon {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
}

#enviroCon {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 150vh;
	height: 70vh;
}

#enviro {
/*	background-color: #9263E5;*/
	display: flex;
	flex: 1;
	border: 2.5vh #00E0BB solid;
	border-radius: 30px;
	transition: all .5s ease-in-out;
	overflow: hidden;
	padding: 0px 20px;
}

/* === OVERLAYS === */

.instructionsOverlay {
	display: block;
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.40);
	z-index: 3;

	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	font-weight: bold;
    text-shadow:
	/*trbl*/
	-2px -2px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    2px 2px 0 #fff;
	color: #9263E5;
}

.iTopCon {
	display: flex;
	margin: 10% 5%;
	justify-content: space-between;
}

.iBottomCon {
	display: flex;
	margin: 15% 5%;
	justify-content: space-around;
}

.oneFade {
	animation: fade-in 5s ease 1;
}

.enviroOverlay {
	display: none;
}

.overlay {
	display: block;
	position: absolute;
	height: 93%;
	width: 96.6%;
	top: 0;
	border-radius: 30px;
	background-color: #7149AD;
	border: 2.5vh #00E0BB solid;
}

.overlayText {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.titleOverlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 93%;
	width: 96.6%;
	top: 0;
	border-radius: 30px;
	background-color: #7149AD;
	border: 2.5vh #00E0BB solid;
}

.titleOverlayText {
	position: absolute;
}

.pulsing {
	animation-name: zoom-in, beat;
	animation-duration: 2.5s, .5s;
	animation-delay: 0s, 3s;
	animation-iteration-count: 1, infinite;
}

.oneZoom {
	/*animation: [animation-name] [animation-duration] [animation-timing-function]
	[animation-delay] [animation-iteration-count] [animation-direction]*/
	animation: zoom-out 2.5s forwards;
}

.fadeOut {
	animation: fade-out 1s forwards;
}

@-webkit-keyframes beat{
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.02);
  }
  65% {
    transform: scale(1);
}
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes zoom-in {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 0;
		transform: scale(0);
	}
	85% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}

}

@-webkit-keyframes zoom-out {

	0% {
		transform: scale(1);
	}
	15% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}

@-webkit-keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* === CONTROLS === */

#controls {
	position: absolute;
	display: flex;
	flex-shrink: 0;
	align-self: center;
	/* IMPORTANT! Positions Buttons over dropZones so you can interact with them*/
	z-index: 2;
	background-color: #00E0BB;
	padding: 10px 20px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.controlsBtn {
	/* icons are different sizes, prevents flex from growing with pause and play*/
	cursor: pointer;
	font-size: 1.5em;
	padding: 20px;
	background-color: #28BFBB;
	border-radius: 50px;
	box-shadow: 
	0.5px 0.5px 0 #0E666C,
    0px 0px 0 #0E666C,
    0px 1px 0 #0E666C,
    2px 5px 0 #0E666C;
    color: #0E666C;
    margin: 10px;
}

.controlsBtn:active {
	box-shadow: 
	0px 0px 0 #fff,
    0px 0px 0 #fff,
    0px 0px 0 #fff,
    0px 0px 0 #fff;
    -webkit-transform: translate(2px, 5px);
	-ms-transform: translate(2px, 5px);
	transform: translate(2px, 5px);

}

.instructions {
	position: absolute;
	align-self: flex-end;
/*	background-color: gold;*/
	padding: 3% 4%;
	color: #28BFBB;
	font-size: 3em;
	color: #fff;
	z-index: 3;
	/*animation: [animation-name] [animation-duration] [animation-timing-function]
[animation-delay] [animation-iteration-count] [animation-direction]*/
	animation: fade-in 5s ease 1;
}

.instructions:hover {
	cursor: pointer;
}

@-webkit-keyframes fade-in{
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.dropZone { 
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0px 10px;
/*	border: #fff 1px dashed;*/
	flex: 1 1 0;
	/* IMPORTANT! Makes sure zones are above overlay so drag and drop function works*/
	z-index: 1;
}

.dropZone img {
	width: auto;
	max-height: 100%;
}

#sounds {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 40px;
	padding: 20px;
	background-color: #00E0BB;
	border-radius: 30px;
	animation: up-in 1.1s 1 forwards;
}

#sounds img {
	width: auto;
	height: 50px;
/*	flex: 1;*/
}

@-webkit-keyframes up-in {
	0% {
		opacity: 0;
		transform: translateY(120%);
	}
	1% {
		opacity: 1;
		transform: translateY(120%);
	}
	80% {
		transform: translateY(-6%);
	}
	90%{
		transform: translateY(-4%);
	}
	100% {
		transform: translateY(0%)
		opacity: 1;
	}
}